In [2]:
!pip install pyspark

import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Uygulama_3').getOrCreate()

spark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=bea88e28283037c342c7ffefad925d2efd97e7fe22527fdae1e682075c6d3119
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [4]:
df=spark.read.csv("data.csv",header=True,inferSchema=True)
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Adem| 37|        10|
| Banu| 24|         8|
| Esat| 46|         5|
|Erdal| 47|         4|
|Zehra| 33|         9|
+-----+---+----------+

In [5]:
df.filter("experience<6").show() # deneyimi 6 dan küçük olanları filtreledik.

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Esat| 46|         5|
|Erdal| 47|         4|
+-----+---+----------+

In [6]:
df.filter("age>40").select("name").show() # yaşı 40'tan büyük olanların ismi

+-----+
| name|
+-----+
| Esat|
|Erdal|
+-----+

In [8]:
# tecrübesi 8'den az yada eşit VE yaşı 40'dan büyük olmayan

df.filter((df["experience"]<=8) & (df["age"]<=40)).show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
|Banu| 24|         8|
+----+---+----------+

In [9]:
df.filter((df["experience"]<=8) & (df["age"]<=40)).select("name").show()

+----+
|name|
+----+
|Banu|
+----+