In [1]:
!pip install pyspark

import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Uygulama_2').getOrCreate()

spark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=41e750a4c2d23db6953e1666373f8f4022bcefe6678336546d9f85455184f9a9
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [32]:
df=spark.read.csv("data.csv",header=True,inferSchema=True) # header true yaptığımız için başlıkları otomatik aldı
df.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
| Adem| 37|        10|
| Banu| 24|         8|
| Esat| 46|         5|
|Erdal| 47|         4|
|Zehra| 33|         9|
+-----+---+----------+

In [33]:
df.printSchema() # veri tiplerini otomatik olarak algıladı.

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [34]:
df.select("Name").show() # verinin sadece name sütununu aldık.

+-----+
| Name|
+-----+
| Adem|
| Banu|
| Esat|
|Erdal|
|Zehra|
+-----+

In [35]:
df.select("Name","Age").show()

+-----+---+
| Name|Age|
+-----+---+
| Adem| 37|
| Banu| 24|
| Esat| 46|
|Erdal| 47|
|Zehra| 33|
+-----+---+

In [36]:
df2=df.select("Name","Age") #df2 adında yeni bir dataframe de oluşturabiliriz.

In [37]:
df2.show()

+-----+---+
| Name|Age|
+-----+---+
| Adem| 37|
| Banu| 24|
| Esat| 46|
|Erdal| 47|
|Zehra| 33|
+-----+---+

In [38]:
df.collect()[2] # 3.sıradaki veriyi getirdik.

Row(Name='Esat', Age=46, Experience=5)

In [39]:
df.describe().show()

+-------+-----+-----------------+-----------------+
|summary| Name|              Age|       Experience|
+-------+-----+-----------------+-----------------+
|  count|    5|                5|                5|
|   mean| NULL|             37.4|              7.2|
| stddev| NULL|9.555103348473002|2.588435821108957|
|    min| Adem|               24|                4|
|    max|Zehra|               47|               10|
+-------+-----+-----------------+-----------------+

In [40]:
df.select("Age").describe().show()# sadece age sütununun özetini verir

+-------+-----------------+
|summary|              Age|
+-------+-----------------+
|  count|                5|
|   mean|             37.4|
| stddev|9.555103348473002|
|    min|               24|
|    max|               47|
+-------+-----------------+

In [41]:
df3=df.withColumn("age after 2 years ",df["Age"]+2)# 2 yıl sonraki yaşı veren sütunu oluşturduk
df3.show()                                         #sütunun içine şimdiki yaş verilerine 2 eklemesini istedik.

+-----+---+----------+------------------+
| Name|Age|Experience|age after 2 years |
+-----+---+----------+------------------+
| Adem| 37|        10|                39|
| Banu| 24|         8|                26|
| Esat| 46|         5|                48|
|Erdal| 47|         4|                49|
|Zehra| 33|         9|                35|
+-----+---+----------+------------------+

In [42]:
df4=df3.drop("Age") # eski age sütununu attık.

In [43]:
df4.show()

+-----+----------+------------------+
| Name|Experience|age after 2 years |
+-----+----------+------------------+
| Adem|        10|                39|
| Banu|         8|                26|
| Esat|         5|                48|
|Erdal|         4|                49|
|Zehra|         9|                35|
+-----+----------+------------------+