In [1]:
!pip install pyspark

import pyspark

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Uygulama_5').getOrCreate()

spark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=8018a1b35814b2e70968c920facccbb095d1262f8ab7a62c6ee032ea47429bb1
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
df=spark.read.csv("data2.csv",header=True,inferSchema=True)
df.show()

+--------+------------+------+
|    Name|  Department|Salary|
+--------+------------+------+
|    John|Data Science| 10000|
|   April|         IOT|  5000|
|   April|    Big Data|  7000|
|    Paul|    Big Data|  7500|
|    John|         IOT|  5000|
|Caroline|Data Science| 12000|
|     Ben|         IOT|  3500|
|    Paul|    Big Data|  6500|
|     Ben|    Big Data|  9000|
+--------+------------+------+

In [4]:
# farklı birimlerde çalışabilen her bir kişi toplamda ne kadar maaş alıyor?
df.groupBy("name").sum("salary").show()

+--------+-----------+
|    name|sum(salary)|
+--------+-----------+
|   April|      12000|
|    John|      15000|
|     Ben|      12500|
|    Paul|      14000|
|Caroline|      12000|
+--------+-----------+

In [5]:
df.groupBy("name").avg("salary").show()

+--------+-----------+
|    name|avg(salary)|
+--------+-----------+
|   April|     6000.0|
|    John|     7500.0|
|     Ben|     6250.0|
|    Paul|     7000.0|
|Caroline|    12000.0|
+--------+-----------+

In [6]:
df.groupBy("department").avg("salary").show()

+------------+-----------+
|  department|avg(salary)|
+------------+-----------+
|         IOT|     4500.0|
|    Big Data|     7500.0|
|Data Science|    11000.0|
+------------+-----------+

In [7]:
df.groupBy("department").max("salary").show()

+------------+-----------+
|  department|max(salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       9000|
|Data Science|      12000|
+------------+-----------+